.bg {
  background: radial-gradient(
      circle farthest-corner at center,
      rgba(58, 137, 180, 0) 0,
      rgba(58, 137, 180, 0.8) 100%
    ),
    #fff;
}

.outer {
    font-family: 'Open Sans',sans-serif;
    border-radius: 0.5em;
    margin: 1em;
    max-width: 960px;
    min-height: 10em;
    background: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 .4em .5em rgba(33,78,103,.2);
    box-shadow: 0 .4em .5em rgba(33,78,103,.2);
}

.outer header{
  font-family: 'Open Sans',sans-serif;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  position: relative;
  -webkit-box-shadow: 0 .56em 1em -1em rgba(58,137,180,.75);
  box-shadow: 0 .56em 1em -1em rgba(58,137,180,.75);
  background: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1.5em;
  border-radius: .5em .5em 0 0;
  height: 3.5em;
}

.outer header h1 {
  font-family: 'Open Sans',sans-serif;
  background-image: url('https://cdn.e-devlet.gov.tr/themes/izmir/images/edkkds.svg');
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 1.66em;
  background-position: left center;
  background-size: contain;
  font-size: 2em;
  display: block;
}

.outer main{
  
}

.outer main section {
  margin: 1.5em;
  margin-bottom: 1em;
}

.outer main section img {
  margin-top: -50px;
  max-width: 165px;
  width: 25%;
  height: 40px;
  vertical-align: middle;
  display: block;
}

.methodSelector {
  font-family: 'Open Sans',sans-serif;
  margin: 1.5em;
  margin-top: 1em;
  margin-bottom: 2em;
  background: #fff;
  border-radius: .33em .33em 0 0;
  padding: 1em;
  border: 2px solid rgba(58,137,180,.15);
}

.methodSelector::before {
  display: block;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52,122,161,0);
  z-index: 8000;
  visibility: hidden;
  -webkit-transition: visibility 0s 1s,background 1s;
  -o-transition: visibility 0s 1s,background 1s;
  transition: visibility 0s 1s,background 1s;
}

.tabChoser {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: -14px -14px;
  display: block;
}

.tabList {
  
  display: flex;
  flex-flow: row nowrap;
}
.tab {
  display: block;
  flex-grow: 1;
  padding: .66em .66em .66em 2.2em;
  background-size: 2em auto;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #d3d3d3;

}
.tab a {
  cursor: pointer;
  display: block;
  padding: 7px 0 0 5px;
  background-color: #fff;
  text-decoration: none;
  color: #666b6e;
  font-size: 14px;
  margin: 0;
  min-height: 30px;
}

.tab a span {
  margin-top: -34px;
  font-family: 'Open Sans',sans-serif;
  display: block;
  padding: .66em .66em .66em 2.2em;
  background-size: 2em auto;
}
.pageContent {
  text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
  font-family: 'Open Sans',sans-serif;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  background: #FFF;
  padding: 1em;
  margin: 0 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.richText {
  font-family: 'Open Sans',sans-serif;
  font-size: 90%;
  color: #4a4e50;
  border-bottom: 1px dotted #e7ebed;
  padding-bottom: 1em;
  font-weight: 200;
}


.fieldSet {
  font-family: 'Open Sans',sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
  width: 100%;
  display: table-cell;
}

.inputForm {
  font-family: 'Open Sans',sans-serif;
  font-size: 90%;
  display: block;
  margin-bottom: -3em;
}

.inputForm div {
  padding: .66em 0 1em 0;
  padding: 1em .5em;
  //border-bottom: 1px dashed #e7ebed;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  position: relative;
}

.inputForm div label {
  font-family: 'Open Sans',sans-serif;
  padding-top: .5em;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-weight: 400;
  padding-bottom: .25em;
}

.inputForm div label::before {
  content: '*';
  color: #347aa1;
  font-weight: 400;
  position: relative;
  top: .1em;
  margin-right: .25em;
}

.formRow input {
  font-family: 'Open Sans',sans-serif;
  margin: 0;
  padding: .5em;
  border: 1px solid #a8acae;
  border-radius: .25em;
  min-width: 20ex;
  max-width: 50%;
  width: 150%;
  height: 2.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px #CCC;
  box-shadow: 0 1px 2px #CCC;
  background: #FFF!important;
}

.fieldInfo {
  padding-top: .5em;
  font-size: 85%;
  color: #4a4e50;
  clear: both;
}

.formSubmit {
  display: flex;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e7ebed;
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
}

.backButton{
  font-family: 'Open Sans',sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  background: #347aa1;
  color: #fff;
  border-radius: 1.25em;
  padding: .5em 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.66em;
  margin-top: .25em;
  margin-bottom: .25em;
  margin-right: 1em;
  font-size: 112%;
  border: 1px rgba(52,122,161,.3) solid;
  background: rgba(74,78,80,.1) url(/themes/izmir/images/arrow-left.103.svg) no-repeat .66em center;
  background-size: 1em 1em;
  padding-left: 2em;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background: rgba(74,78,80,.1);
  border: 1px rgba(74,78,80,.3) solid;
  color: rgba(74,78,80,.9);
}

.submitButton  {
  font-family: 'Open Sans',sans-serif;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  background: #347aa1;
  color: #fff;
  border-radius: 1.25em;
  padding: .5em 1.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.66em;
  margin-top: .25em;
  margin-bottom: .25em;
  margin-right: 1em;
  font-size: 112%;
  border: 1px rgba(52,122,161,.3) solid;
  background: #347aa1  no-repeat right center;
  background-size: 1.4em 1.1em;
  padding-right: 2em;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

